<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
      <nav>
        <ul>
          <li><h1>Pokedéx</h1></li>
          <li><img src="/img/adesivo-Pokedex-Air-Force-1-danilo-the-hype-nerd-stickers.webp" alt="Pokebola"></li>
          <li><a id="btnCadastrar" href="/cadastro">Cadastrar</a></li>
          <li><a id="btnMeusPokemos"href="/#cards">Meus Pokemons</a></li>
            
        </ul>
    </nav>

    <main>
        <section id="cadastro">
      
          <div>
  
            <h2>Atualizar Pokémon</h2>
  
            <form action="/update/<%= pokemon.id%>" method="POST">
              <label for="nome">Nome:</label>
              <input
                type="text"
                id="nome"
                name="nome"
                value="<%= pokemon.nome%>"
              />
  
              <label for="descricao">Descrição:</label>
              <input
                type="text"
                id="descricao"
                name="descricao"
                value="<%= pokemon.descricao%>"
              />
  
              <label for="tipo">Tipo:</label>
              <input
                type="text"
                id="tipo"
                name="tipo"
                value="<%= pokemon.tipo%>"
              />
  
              <label for="imagem">Link da imagem:</label>
              <input
                type="text"
                id="imagem"
                name="imagem"
                value="<%= pokemon.imagem%>"
              />
  
              <label for="altura">Altura:</label>
              <input
                type="text"
                id="altura"
                name="altura"
                value="<%= pokemon.altura%>"
              />
  
              <label for="peso">Peso:</label>
              <input
                type="text"
                id="peso"
                name="peso"
                value="<%= pokemon.peso%>"
              />
  
              <label for="categoria">Categoria:</label>
              <input
                type="text"
                id="categoria"
                name="categoria"
                value="<%= pokemon.categoria%>"
              />
  
              <label for="habilidade">Habilidade:</label>
              <input
                type="text"
                id="habilidade"
                name="habilidade"
                value="<%= pokemon.habilidade%>"
              />
  
              <button id="btnAtualizar" type="submit">Atualizar</button>
            </form>
  
          </div>
        </section>
  
      </main>
      
    <script src="/js/script_cadastro.js"></script>
</body>
</html>